
html{  
	margin: 0;
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body{
	margin: 0;
	background: #304352;
	background: #304352;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	}
#buttons{
	display: block;
	position: fixed;
	right: 0.5%;
	bottom: 1%;
}

#up, #down{
	cursor: pointer;
	display: block;
	width: 5rem;
	height: 5rem;
}
#down{
	margin-top: 30%;
}
#Header{
	margin: 0;
	text-align: center;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-linear-gradient(#d7d2cc,#304352);
}

#Name, #titleName{
	font-family: 'Cabin', sans-serif;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 3px;
	position: relative;
}
#Name{
	font-size: 8rem;
	background: -webkit-linear-gradient(#777777,#050505);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#titleName{
	margin-top: 1vw;
	color: #1c1b1b;
}

#titleName h1{
	font-weight: 100;
	font-size: 2rem !important;
}


#OneLine{
	width: 65%;
	margin:auto;
	display: inline-flex;
	margin-top: 3vw;
}
.mac{
	position: relative;	
	width: 15.4vw;
	height: 9.2vw;
	margin:auto;
}

.laptop{
	border: 1px solid #bababa;
	border-bottom-color: transparent;
	width: 13.2vw;
	height: 8.7vw;
	border-radius: 2.5px;
	margin: 0 auto;

}

#binaryNums{
	position: absolute;
	top: 1vw;
	left: 1.6vw;
	width : 12.2vw;
	height:7vw;
}


.bezel{
	border: 0.5vw solid #000000;
	border-radius: 3px;
	height: 6.8vw;
	border-top-width: 1vw;
	border-bottom-width: 1vw;
}

.fa{
	color: white;
}
.fa-apple{
	position: absolute;
	left: 48%;
	bottom: 0.6vw;
	margin: auto;
	font-size: 0.4vw;
	font-size: 0.6vw !important;
	color: #f4c06b !important;
}

#camera{
	width: 0.45vw;
	height: 0.45vw;
	background: #494949;
	position: absolute;
	top: 0.3vw;
	left: 48%;
	margin: 0 auto;
	z-index: 1;
	border-radius: 100%;
	margin: 0 auto;
}

#keyboard{
	width:15.4vw;
	height: 0.5vw;
	background: #bababa;
	position: relative;
	margin: 0 auto;
	bottom: 2px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.mouse{
	width: 4vw;
	height:0.24vw;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin:auto;
	background: white;
}


.Github, .Linkedin, .Mail, .Twitter{
	margin: auto;
	font-size: 5vw !important;
	padding: 1px;
	margin-right:auto;
	margin-left: auto;
	height: 100%;
	text-decoration: none;
}

.contact{
	background: -webkit-linear-gradient(#00C9FF,#92FE9D);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.Github h4, .Linkedin h4, .Mail h4, .Twitter h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	color: #d7d2cc;
	font-size: 1.2vw;
	margin: 0 auto;
}

i:hover{
	color: #9195ff !important;
}
a:hover{
	cursor:pointer;
}

.Heading{
	margin-top: 5%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	text-align: center;
	display: flex;
	color: white;
}

#Projects{
	color: #ffffff;
	font-size: 4rem;
	font-weight: 100;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	display: none;
}

.Line1, .Line2{
	border:0.1px solid #42d7f4;
	margin: auto;
	background: #0072ff;
	width:38%;
	height: 0.25%;
}


.Project{
	width: 70%;
	height: auto;
	margin: auto;
	border-radius: 10px;
	position: relative;
	margin-top: 5%;
	background:#ffffff;
	/*background-image: -webkit-linear-gradient(#00C9FF,#92FE9D);*/
	background-image:  -webkit-linear-gradient(#8e9eab,#eef2f3);
	display: none;
	}

#YummyIcon, #PokeitIcon,#remindVoiceIcon, #PpIcon{
	margin-top: 1%;
	margin-left: 1%;
}



.Project span{
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	display: inline-flex;
}

.projectName{
	font-size: 3rem;
	margin: auto 0;
	margin-top: 2%;
}

.round{
	border-radius: 100%;
	width: 15px;
	height: 15px;
	position: relative;
	right: 5px;
	display: flex;
}
.one{
	position: relative;
	margin: 0;
	background: #ff5bb8;
}

.two{
	position: relative;
	margin: 0;
	background: #5487f7;
}

.third{
	margin: 0;
	background: #009124;
}

.info{
	display: block;
	margin:0;
	position: absolute;
	top: 20%;
	right: 0.5%;
}
.round, .tools h3{
	margin: 0;
	display: inline-flex;
	margin-top: 15%;
}

.firstTool, .SecondTool, .ThirdTool, .projectUrl{
	font-size: 1.25rem;
}
.tools{
	margin: 0;
	display: block;
}

.tools h3{
	font-weight: 100 !important;
}
.SecondTool, .ThirdTool, .githubCode{
	margin: 0;
	padding: 0;
}

.githubCode{
	display: block;
	text-decoration: none;
	width: auto;
	margin-top: 15%;
	border: 3px solid #000000;
	border-radius: 2px;

}

.projectUrl h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400 !important;
	color: #ffffff;
	padding: 0 0.5px;
	font-size: 1.2rem;
	margin: 0 auto;	
}
.projectUrl{
	right: 2.2%;
	padding: 5px;
	background-image: -webkit-linear-gradient(#6441A5,#2a0845);
	text-decoration: none !important;
	border-radius: 2px;
	display: table;
	margin: 0 auto;
	margin-top: 10%;
}

.githubCode h3{	
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #000000;
	font-size: 1.2rem;
	text-decoration:none !important;
	display: table;
	margin:0 auto;
}

.githubCode:hover{
	background: #b2b2b2;
}

.projectUrl:hover{
	background: #8e53fc;
}
#git1, #git2, #git3, #git4{
	font-size: 2rem !important;
	color: black !important;
	display: table;
	margin:0 auto;
}
.description{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.75rem;
	font-weight: 100 !important;
	width: 40%;
	margin-top: 10%;
	margin-left: 5%;
}
.about{
	padding-bottom: 30px;
}
.nexus{
	position: relative;
	border: 1px solid black;
	width: 155px;
	height: 300px;
	background: white;
	border-radius: 3px;
	margin-left: 10%;
}

.nexusScreen{
	height: 280px;
	width: 150px;
	margin-top: 12px;
	margin-left: 2.5px;
	border-radius: 2px;
}

.speaker{
	position: absolute;
	top: 4px;
	left: 62.5px;
	width: 30px;
	height: 4px;
	background: #000000;
	border-width: 10px;
	border-radius: 5px;
}

.nexusCamera{
	position: absolute;
	background: #000000;
	top: 4px;
	width: 5px;
	height: 5px;
	left: 40px;
	border-radius: 100%;
}

#y2{
	display: none;
}
#ppPict{
	position: relative;
	bottom: 5px;
	width: 40%;
	height: 350px;
	border: 1px solid #000000;
}
@media(max-width: 1040px){
	#Projects{
		font-size: 3.5rem;
	}
	.Line1, .Line2{
		width: 34%;
	}
}

@media (max-width: 880px){
	#Name{
		font-size: 7rem;
	}
	#titleName h1{
	font-size: 1.5rem !important;
	}
	#buttons{
	right: 0;
	bottom: 0;
	}

#up, #down{
	width: 2rem;
	height: 2rem;
}
	.Project{
		width: 90%;
	}
	#Projects{
		font-size: 3rem;
	}
	.Line1, .Line2{
		width: 33%;
	}


}

@media(max-width: 800px){
	.projectName{
		font-size: 2.5rem;
	}
	.Project{
		width: 90%;
	}
	#YummyIcon, #PokeitIcon{
		width: 80px;
		height: 80px;
	}
	
	.nexus{
		margin: 0;
	}
	.description{
		width: 45%;
		font-size: 1.5rem;
	}

	#ppPict{
		display: none;
	}
}
@media (max-width: 680px){

	.nexus{
		display: none;
	}
	#up, #down{
	width: 1.5rem;
	height: 1.5rem;
	}
	#OneLine{
		width: 90%;
	}
	.contact{
		font-size: 8vw !important;
	}
	.Project{
		height: auto;
	}
	.description{
		width: auto;
	}
	.info{
		position: static;
	}
	.tools{
		display: inline-block;
		margin-top: 5%;
		margin-left: 5%;
	}


	.links{
		position: static;
		margin-top: 5%;
		padding: 8%;
	}
	.round, .tools h3{
		margin: 0;
		display: inline-flex;
	}



	.githubCode, .projectUrl {
		position: static;
		display: inline-block;
		margin: auto;
	}

	.githubCode{
		position: absolute;
		bottom: 1%;
		left: 1%;
	}
	.projectUrl{
		position: absolute;
		right:1%;
		bottom: 1%;	}


}
@media (max-width: 580px){
	#Name{
		font-size: 5rem;
	}
	.Heading{
		width: 100%;
	}
	#titleName h1{
	font-size: 1rem !important;
	}
	
	.Project{
		width: 90%;
	}
	
	.Line1, .Line2{
		width: 28%;
	}

}

@media (max-width: 480px){
	
	.Project{
		width: 90%;
	}
	#up, #down{
	width: 1.2rem;
	height: 1.2rem;
	}
	.Line1, .Line2{
		width: 25%;
	}
	
}

@media (max-width: 400px){
	.links{
		margin-top: 3%;
		padding: 15%;
	}

	.Project{
		width: auto;
	}

	.Line1, .Line2{
		width: 20%;
	}
}

@media(max-width: 270px){
	.Project span{
		display: block;
	}
	.links{
		padding: 25%;
	}
	.githubCode, .projectUrl {
		position: static;
		display: block;
		margin-top: 5%;
		margin-left: 5%;
		padding: 0;
	}
}