
body{
	background: black;
}

#Header{
	text-align: center;
}
#Name{
	font-size: 60px;
	font-family: 'Cabin';
	letter-spacing: 3px;
	color: #d6d6d6;
	position: relative;
	font-weight: 5px;
}

#titleName{
	font-size: 30px;
	font-family: 'Cabin';
	color: #d6d6d6;
	letter-spacing: 3px;
	position: relative;
	font-weight: 2px;
}

.mac{
	position: relative;
	z-index: 100;
	top: 5px;
	width: 220px;
	margin:auto;
}

.laptop{
	border: 1px solid white;
	border-bottom-color: transparent;
	max-width: 190px;
	border-radius: 3px;
	margin-left: 14px;
}

.bezel{
	border: 5px solid #494949;
	max-width: 179;
	max-height: 100px;
	border-top-width: 14px;
	border-bottom-width: 12px;
}

.fa{
	position: relative;
	bottom: 18px;
	margin: auto;
	font-size: 0.3em;
	color: white;
}

.fa-lg {
  font-size: 8px !important;}

#camera{
	width: 7px;
	height: 7px;
	position: relative;
	bottom: 115px;
	left: 0;
	z-index: 1;
	background: black;
	border-radius: 100%;
	margin: 0 auto;
}

#keyboard{
	width:220px;
	height: 8px;
	background: #bababa;
	position: relative;
	bottom: 2px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.mouse{
	width: 55px;
	height:5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin:auto;
	background: white;
}


#randomDotAnimation{
	position: absolute;
	top: 0;
	z-index: 20
	border: 2px solid yellow;
	background-color: rgba(0,0,0,0.5);
}


#Header{
	position: relative;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#headerContent{
	position: relative;
	z-index: 5;
	background-color: rgba(0,0,0,0.4);
}

